<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prueba flask</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>


<body>

    <form action="/actualizar/{{contacto.0}}" method="POST">

    <div class="form-group" style="margin: 1rem;">
        <label>Nombre Completo</label>
        <input type="text" class="form-control" name="nombre" value="{{contacto.1}}">
    </div>

    <div class="form-group" style="margin: 1rem;">
        <label>Telefono</label>
      <input type="text" class="form-control" name="telefono" value="{{contacto.2}}"> 
    </div>

    <div class="form-group" style="margin: 1rem;">
    <label>Email address</label>
    <input type="email" class="form-control" name="email" value="{{contacto.3}}">
     <small id="emailHelp" class="form-text text-muted">Usted se esta por registrar</small>
    </div>
    <button type="submit" class="btn btn-primary" style="margin: 1rem;">Guardar</button>
    </form>

</body>
</html>